
body {
  font-family: 'MedievalSharp', cursive;
  position: relative;
  height: 100vh;
  width: 100%;

}
body::before {
  content: "";
  font-family: 'MedievalSharp', cursive;

  background-image: url('s8n_roadmap.png');
  background-size: 34%;
  background-repeat: round;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.13;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #c53f3f; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #34342f; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #34342f; /* creates padding around scroll thumb */
}
